@model Member

<div class="row">

    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
            <div class="member-img">
                <img src="~/assets/img/team/@Model.BgImg" class="img-fluid" alt="">
                <div class="social">
                    <a href=""><i class="@Model.Icon1"></i></a>
                    <a href=""><i class="@Model.Icon2"></i></a>
                    <a href=""><i class="@Model.Icon3"></i></a>
                    <a href=""><i class="@Model.Icon4"></i></a>
                </div>
            </div>
            <div class="member-info">
                <h4><a asp-controller="team" asp-action="detail" asp-route-id="@Model.Id" >@Model.Name</a></h4>
                <span>@Model.Position</span>
            </div>
        </div>
    </div>
</div>